.billboard
	display: none
	position: relative

	.container
		.item
			position: relative
			float: left
			background:
				position: 50% 50%
				repeat: no-repeat

			> a
				display: block
				text-decoration: none

			.image
				z-index: 1
				position: relative

				img
					display: block
					width: 100%

			.subtitle
				z-index: 10
				width: 100%
				position: absolute
				left: 0
				bottom: 0
				padding: 30px
				background: rgba(0, 0, 0, 0.5)

				.subtitle-container
					@extend .main-container
					+text-shadow(1px 1px 0 rgba(0, 0, 0, 1))

					color: #fff
					font:
						weight: bold
						size: 1.5em
					text-align: center

	.nav
		a
			$size: 50px
			@extend .icon
			+text-shadow(0 0 5px rgba(0, 0, 0, 0.2))

			z-index: 99
			position: absolute
			top: 50%
			margin-top: -($size / 2)
			color: #fff
			font-size: 60px
			text:
				align: center
				decoration: none
			line-height: $size

			&.prev
				left: 30px

				&:before
					content: '\f2ca'

			&.next
				right: 30px

				&:before
					content: '\f30f'

