.global-header
	+box-sizing(border-box)
	+box-shadow(0 0 6px 3px rgba(0, 0, 0, 0.3))

	z-index: 888
	width: 100%
	height: $global-header-height
	overflow: hidden
	position: fixed
	left: 0
	top: 0
	border-top: 5px solid $color-light
	background: #fff

	.global-header-container
		@extend .main-container
		@extend .clearfix

		h1
			a
				+replace-text-with-dimensions('logo-paulorehm.png')

				display: block
				float: left
				margin-top: 20px

		nav
			float: right

			ul
				li
					display: inline

					a
						$height: $global-header-height - 5px 
						+transition(all 0.1s)

						display: block
						float: left
						height: $height
						padding: 0 8px
						color: #666
						font-size: 1.25em
						text-decoration: none
						line-height: $height

						&:before,
						&:after
							+transition(all 0.1s)

							color: transparent
							font:
								weight: bold
								size: 1.2em

						&:before
							content: '['
							margin-right: 2px

						&:after
							content: ']'
							margin-left: 2px

					&:hover,
					&.on
						a
							color: $color-custom-1

							&:before,
							&:after
								color: $color-custom-1

.global-footer
	z-index: 1
	position: relative
	background: $color-custom-2

	.global-footer-container
		@extend .main-container
		@extend .clearfix

		padding: 15px 15px 210px

		.agw
			+replace-text-with-dimensions('logo-agw.png')

			display: block
			float: right

.global-content
	z-index: 1
	position: relative
	padding-top: ($global-header-height)
	background: #fff image-url('main-bg.png') 50% 0

	.section-content
		.section-content-container
			@extend .main-container

			padding: 60px 0 40px

			> header
				min-height: 30px
				position: relative
				margin-bottom: 40px

				h2
					color: $color-custom-1
					font:
						weight: bold
						size: 4.7em
					letter-spacing: -2px
					text-transform: lowercase

					&:before,
					&:after
						font:
							weight: bold
							size: 1.5em

					&:before
						content: '['
						margin-right: 2px

					&:after
						content: ']'
						margin-left: 2px

				h3
					margin-top: 20px
					color: #777
					font:
						weight: normal
						size: 1.8em

				ul
					position: absolute
					right: 0
					top: 35px

					li
						display: inline
						padding: 0 10px 0 15px
						border-left: 1px solid $color-light

						&:first-child
							border: none

						a
							@extend .link

							font:
								weight: bold
								size: 1.3em
							text-transform: lowercase

	#empresa
		height: 685px
		background:
			// image: image-url('empresa-bg.png'), image-url('empresa-bg-custom.jpg')
			position: 50% 0, 0 0
			repeat: no-repeat
		color: #fff

		header
			h2
				color: #fff
				text-align: right

		.text
			width: 60%
			height: 465px
			overflow: auto
			float: right
			padding-right: 15px
			text-align: right

	#arquitetos
		height: 685px
		background: image-url('arquitetos-bg.jpg') 50% 0 no-repeat

		header
			text-align: center

	#projetos
		height: 685px
		background: image-url('projetos-bg.jpg') 50% 0 no-repeat

		header
			text-align: center

			h2
				color: #777

	#clientes
		min-height: 300px
		padding-top: 75px
		background: #fff image-url('clientes-bg.jpg') 50% -77px no-repeat

		header
			text-align: center

			h2
				color: #fff

	#contato
		min-height: 685px
		background: image-url('contato-bg.jpg') 50% 0 no-repeat

		header
			text-align: center

			h2,
			h3
				color: #fff

		address
			display: block
			position: relative
			margin-bottom: 30px
			padding-left: 25px
			color: #fff
			font-size: 1.2em
			line-height: 140%

			&:before
				@extend .icon

				content: '\f1ff'
				position: absolute
				left: 0
				top: 0
				color: $color-warning
				font-size: 30px

			a
				border-bottom: 1px dotted
				color: #fff
				font-weight: bold
				text-decoration: none

		.social
			position: absolute
			left: 25px
			bottom: 40px

			li
				display: inline
				margin-right: 10px

				a
					$size: 40px
					+border-radius($size)
					+transition(all 0.1s)

					display: inline-block
					width: $size
					height: $size
					border: 2px solid
					background: #fff
					color: $color-custom-1
					font-size: 20px
					line-height: $size
					text:
						decoration: none
						align: center

					&:hover
						color: #fff
						background: transparent

	#projetos-inside
		min-height: 685px
		background: image-url('projetos-inside-nav.jpg') 50% 0 no-repeat

		.nav-top
			@extend .clearfix

			ul
				@extend .main-container

				li
					display: inline

					a
						+transition(all 0.1s)

						display: block
						margin-left: 40px
						float: left
						color: #999
						font-size: 2em
						letter-spacing: -1px
						line-height: 69px
						text:
							transform: lowercase
							decoration: none

						&:hover
							color: $color-custom-1

					&:first-child
						a
							width: 330px
							margin: 0
							color: #fff
							font-weight: bold
							text-align: center

		.banner
			height: 240px
			background:
				image: image-url('projetos-inside-banner.jpg')
				position: 50% 0
				repeat: no-repeat

		.section-content-container
			padding-top: 0

