.showcase
	$height: 322px

	position: relative
	margin-bottom: 30px

	.container
		height: $height
		overflow: hidden
		position: relative

		.grid-item
			height: $height
			float: left

			a
				display: block
				height: $height

	.nav
		margin-top: 40px
		text-align: center

		a
			$size: 30px
			+border-radius($size)
			+transition(all 0.1s)

			display: inline-block
			width: $size
			height: $size
			margin: 0 3px
			background: $color-light
			color: $color-dark
			line-height: $size
			text:
				decoration: none
				align: center

			&:before
				@extend .icon

			&.prev
				&:before
					content: '\f107'

			&.next
				&:before
					content: '\f10a'

			&:hover
				background: #ccc

