.block-responsive
	display: block
	width: 100%

.block-embed
	position: relative
	padding-bottom: 56.25%
	padding-top: 30px
	height: 0
	overflow: hidden

	iframe,
	object,
	embed
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%

.block-pane
	+border-radius(3px)
	+box-sizing(border-box)

	position: relative
	padding: 15px
	border: 1px solid #ddd
	background: #eee
	line-height: 130%

.block-pane-invert
	padding: 15px
	background: #666
	color: #fff

.block-pane-bordered
	padding: 15px
	border: 1px solid #ccc

.block-action
	margin-top: 15px
	padding-top: 15px
	border-top: 1px dotted #ccc
	text-align: right

	ul
		display: inline-block

		li
			display: inline
			margin: 0 15px
			padding-left: 10px

			a
				@extend .link

.block-document
	height: 100px
	overflow: auto
	margin-bottom: 15px
	padding: 15px
	background: #eee
	line-height: 120%

	h4
		margin-bottom: 15px
		font:
			weight: bold
			size: 1.3em
		text-transform: uppercase

	h5
		margin: 15px 0
		font:
			weight: bold
			size: 1.1em

	p
		margin: 0.5em 0
		font-size: 1em

	ul
		margin: 0.5em 0 0.5em 15px
		font-size: 1em

		li
			margin: 0.5em 0
			list-style: inside disc

.block-quote
	margin: 15px 0
	padding: 10px 0
	border: 1px solid $color-custom-1
	border:
		left: none
		right: none
	color: $color-custom-1
	font:
		style: italic
		size: 1.3em
	text-align: center

.block-scroll
	height: 100px
	overflow: auto
	padding: 15px
	background: #eee

.block-stamp
	+border-radius(100px)
	+box-sizing(border-box)

	width: 200px
	height: 200px
	margin: 0 auto
	background:
		color: #ddd
		position: 50% 50%
		repeat: no-repeat

.block-message
	+border-radius(100px)
	+box-sizing(border-box)

	width: 150px
	height: 150px
	margin: 0 auto
	padding: 75px 15px 15px
	border-bottom: 1px solid #ccc
	background:
		color: #fff
		position: 50% 25px
		repeat: no-repeat
	color: #888
	font-size: 0.9em
	line-height: 130%
	text-align: center

	a
		@extend .link

.block-icon
	+border-radius(3px)

	height: 270px
	background: #fff
	padding: 15px
	text-align: center

	.image
		color: $color-custom-1

		.icon
			font-size: 45px

	.title
		margin-top: 15px
		color: $color-custom-1
		font:
			weight: bold
			size: 1em
		line-height: 120%

	.description
		margin-top: 15px
		color: $color-custom-2
		font-size: 0.8em
		line-height: 130%

.block-icon-rounded
	text-align: center

	.image
		$size: 100px
		+border-radius(100px)

		width: $size
		height: $size
		margin: 0 auto
		background: $color-custom-2
		color: #fff

		.icon
			font-size: 60px
			line-height: $size

	.title
		margin-top: 15px
		color: $color-custom-2
		font:
			weight: bold
			size: 1.2em
		letter-spacing: -1px
		line-height: 130%

	.description
		margin-top: 15px
		font-size: 0.8em
		line-height: 130%

.block-compact-center
	width: 50%
	margin: 0 auto

.block-notice
	font:
		weight: 300
		size: 1.3em
		family: $font-custom-1
	line-height: 160%

.block-index-horizontal
	h5
		$size: 40px
		+border-radius($size)

		display: block
		height: $size
		width: $size
		float: left
		margin-right: 10px
		border: 2px solid #fff
		color: #fff
		font-size: 20px
		line-height: $size
		text-align: center

	p
		display: block
		padding-top: 5px
		color: #fff
		font-weight: bold
		font-size: 1.2em
		line-height: 120%

.block-post
	+filter(grayscale(100%))
	+transition(all 0.1s)

	display: block
	color: $color-custom-1
	text-decoration: none

	img
		width: 100%

	h4
		margin-top: 10px
		font:
			weight: bold
			size: 1.8em
		line-height: 110%

	p
		margin-top: 10px
		font-size: 1.1em
		line-height: 130%

	&:hover
		+filter(grayscale(0))

.block-project
	+transition(all 0.1s)

	display: block
	position: relative
	text-decoration: none

	img
		width: 100%

	span
		$height: 60px
		+transition(all 0.1s)
		+box-sizing(border-box)

		display: block
		width: 170px
		height: $height
		position: absolute
		left: 50%
		top: 50%
		margin: -($height / 2) 0 0 -85px
		padding-top: 20px
		background: rgba($color-custom-1, 0.5)
		color: #fff
		font:
			weight: bold
			size: 1.7em
		text-align: center

		&.double-row
			padding-top: 10px

		&:before,
		&:after
			position: absolute
			top: -7px
			font:
				weight: bold
				size: 70px
			line-height: $height

		&:before
			content: '['
			left: -5px

		&:after
			content: ']'
			right: -5px

	&:hover
		span
			background: rgba($color-custom-2, 0.5)

.block-project-2
	+transition(all 0.1s)

	display: block
	height: 166px
	overflow: hidden
	position: relative
	text-decoration: none

	span
		+transition(all 0.1s)
		+box-sizing(border-box)
		+opacity(0)

		display: block
		width: 100%
		height: 100%
		position: absolute
		left: 0
		top: 0
		padding: 40px 15px 0
		background: rgba(0, 0, 0, 0.7)
		color: #fff
		font:
			weight: bold
			size: 1.2em
		line-height: 120%
		text-align: center

		&:before
			@extend .icon

			content: '\f21f'
			display: block
			margin-bottom: 10px
			color: $color-custom-1
			font-size: 50px

	&:hover
		span
			+opacity(1)

.block-profile
	display: block
	text:
		decoration: none
		align: center

	.image
		$size: 260px
		+border-radius($size)
		+filter(grayscale(100%))
		+transition(all 0.1s)

		display: inline-block
		width: $size
		height: $size
		overflow: hidden
		background:
			position: 50% 50%
			repeat: no-repeat
			size: cover

	h4
		+transition(all 0.1s)

		margin-top: 10px
		color: $color-custom-1
		font:
			weight: bold
			size: 1.5em
		letter-spacing: -1px
		line-height: 110%
		text-transform: lowercase

		&:before,
		&:after
			font:
				weight: bold
				size: 1.5em

		&:before
			content: '['
			margin-right: 2px

		&:after
			content: ']'
			margin-left: 2px

	p
		margin-top: 10px
		color: #777
		font-size: 1.1em
		line-height: 130%

	&:hover
		.image
			+filter(grayscale(0))

.block-profile-viewer
	@extend .clearfix

	width: 810px

	.image
		$size: 260px
		+border-radius($size)

		width: $size
		height: $size
		overflow: hidden
		float: left
		background:
			position: 50% 50%
			repeat: no-repeat
			size: cover

	.body
		width: 520px
		float: right

		h4
			+transition(all 0.1s)

			margin-bottom: 15px
			color: $color-custom-1
			font:
				weight: bold
				size: 2.1em
			letter-spacing: -1px
			line-height: 110%
			text-transform: lowercase

			&:before,
			&:after
				font:
					weight: bold
					size: 1.5em

			&:before
				content: '['
				margin-right: 2px

			&:after
				content: ']'
				margin-left: 2px

		.text
			max-height: 240px
			overflow: auto

.block-media-left
	float: left
	margin: 0 15px 15px 0

.block-media-right
	float: right
	margin: 0 0 15px 15px

.block-media-center
	margin-bottom: 15px
	text-align: center

.block-grayscale-toggle
	+filter(grayscale(100%))
	+transition(all 0.1s)

	&:hover
		+filter(grayscale(0))

.block-alert
	+border-radius(3px)
	+box-sizing(border-box)

	padding: 15px
	text-align: center

	&:before
		@extend .icon

		color: #ddd
		font-size: 80px

	p
		margin: 0.5em
		color: #777
		font-size: 1.3em
		line-height: 130%

.block-alert-empty
	&:before
		content: '\f272'

