.button
	+basis-button

.button-dark
	+basis-button-extend($color-dark)

.button-info
	+basis-button-extend($color-info)

.button-success
	+basis-button-extend($color-success)

.button-warning
	+basis-button-extend($color-warning)

.button-danger
	+basis-button-extend($color-danger)

.button-custom-1
	+basis-button-extend($color-custom-1)

.button-custom-2
	+basis-button-extend($color-custom-2)

.button-custom-3
	+basis-button-extend($color-custom-1)

.button-custom-4
	+basis-button-extend($color-custom-1)

.button-dropdown
	&:after
		@extend .icon

		content: '\f151'
		margin-left: 10px
		padding-left: 10px
		border-left: 1px solid rgba(255, 255, 255, 0.3)
