.collapse
	+border-radius(3px)

	margin-bottom: 10px
	border: 1px solid #ddd
	background: #fff

	.collapse-heading
		font-size: 1.2em

		a
			+transition(all 0.1s)

			display: block
			padding: 10px
			background: #f8f8f8
			color: $color-custom-1
			text-decoration: none

			&:hover
				background: #eee

	.collapse-container
		display: none
		padding: 15px
		border-top: 1px dotted #ddd

.collapse-open
	.collapse-container
		display: block
