.main-container
	+box-sizing(border-box)

	width: $main-width
	position: relative
	margin: 0 auto

.icon
	display: inline-block
	font:
		family: $font-icon !important
		style: normal
		weight: normal
		variant: normal
	line-height: 1
	text:
		transform: none
		rendering: auto
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale
	speak: none

.link
	+transition(all 0.1s)

	color: $color-custom-1
	text-decoration: none

	&:hover
		color: $color-custom-2

.focus
	$color: $color-info
	+box-shadow(0 0 5px rgba($color, 0.5))
	+transition(box-shadow 0.2s)

	border: 1px solid rgba($color, 0.5)
	outline: none

.field-text
	+border-radius(3px)
	+box-sizing(border-box)

	width: 100%
	height: 35px
	padding: 0 10px
	border: 1px solid #ccc
	background:
		color: #fff
		image: linear-gradient(180deg, rgba(0, 0, 0, 0.1), transparent 2px)
	font:
		weight: normal
		size: 1em
		family: $font-system

	&:focus
		@extend .focus

