.list-error
	li
		clear: both
		display: block
		padding-top: 5px
		color: $color-danger
		font-size: 0.8em

		&:before
			@extend .icon

			content: '\f128'
			margin-right: 5px

.list-links
	li
		a
			text-decoration: none

			&:hover
				text-decoration: underline

			&:before
				@extend .icon

				content: '\f2de'
				margin-right: 5px

.list-short
	li
		border-bottom: 1px solid #ddd
		color: #ccc
		list-style: square inside

		&:last-child
			border-bottom: none

		a
			+transition(all 0.1s)

			display: block
			padding: 6px 0
			color: #999
			font:
				size: 1.2em
				family: $font-custom-1
			text:
				transform: uppercase
				decoration: none

			&:hover
				color: $color-custom-1

.list-link-bright
	li
		a
			color: #fff

.list-display
	li
		@extend .clearfix

		display: block
		margin-bottom: 10px
		padding: 10px
		border-bottom: 1px solid #ddd
		background: #eee
		line-height: 120%

		.title
			margin-bottom: 5px
			font:
				weight: bold
				size: 1.1em

		.description
			font-size: 1em

.list-thumb
	@extend .clearfix

	li
		display: inline

		a
			+transition(all 0.1s)

			display: block
			width: 81px
			height: 103px
			overflow: hidden
			position: relative
			float: left
			margin: 0 12px 12px 0
			border: 1px solid #bbb
			text-decoration: none

			span
				+box-sizing(border-box)
				+transition(all 0.1s)

				display: block
				width: 100%
				position: absolute
				left: 0
				bottom: 0
				padding: 3px
				background: #bbb
				color: #fff
				font-size: 0.8em
				text:
					transform: uppercase
					align: center
				line-height: 110%

			&:hover
				border-color: $color-dark

				span
					background: $color-dark

		&.active
			a
				border-color: $color-dark

				span
					background: $color-dark

.list-logos
	@extend .clearfix

	li
		+transition(all 0.2s)

		display: block
		float: left

		img
			display: block

		&:hover
			border-color: #ddd

.list-slick
	li
		display: block
		border-bottom: 1px solid rgba(255, 255, 255, 0.3)

		&:last-child
			border: none

		a
			+transition(all 0.1s)

			display: block
			padding: 5px
			color: #fff
			font:
				font-size: 0.95em
				family: $font-custom-1
			text-decoration: none

			&:before
				@extend .icon

				content: '\f280'
				margin-right: 5px

			&:hover
				background: rgba(255, 255, 255, 0.2)
				text-indent: 4px

.list-events
	@extend .clearfix

	li
		display: block
		width: 31.5%
		height: 440px
		float: left
		margin-bottom: 15px

		&:nth-child(3n + 2)
			margin: 0 30px 15px

		.image
			a
				display: block
				text-decoration: none

				img
					display: block
					width: 100%

		.text
			@extend .clearfix

			margin-top: 10px

			.when
				width: 20%
				float: left
				color: #fff
				font:
					weight: bold
					family: $font-custom-1
				text:
					transform: uppercase
					align: center

				.day
					padding: 7px 0
					background: $color-custom-1
					font-size: 2.1em

				.month
					padding: 7px 0
					background: $color-dark
					font-size: 1.3em

				.end
					margin-top: 10px

			.details
				+box-sizing(border-box)

				width: 80%
				float: left
				padding-left: 10px
				color: #666
				font:
					size: 1.1em
					weight: 300
					family: $font-custom-1
				text-transform: uppercase

				.title
					+transition(all 0.1s)

					display: block
					color: $color-custom-1
					font:
						weight: bold
						size: 1.6em
					line-height: 120%
					text-decoration: none

					&:hover
						color: lighten($color-custom-1, 5%)

				.place
					margin-top: 10px
					
					&:before
						@extend .icon

						content: '\f2a3'
						margin-right: 5px
						color: $color-custom-1

				.time
					margin-top: 5px
					
					&:before
						@extend .icon

						content: '\f26e'
						margin-right: 5px
						color: $color-custom-1

				.locale
					margin-top: 5px
					
					&:before
						@extend .icon

						content: '\f2ea'
						margin-right: 5px
						color: $color-custom-1

				.price
					margin-top: 5px
					
					&:before
						@extend .icon

						content: '\f2aa'
						margin-right: 5px
						color: $color-custom-1

				.more
					+transition(all 0.1s)

					display: inline-block
					margin-top: 10px
					padding: 10px 15px
					background: $color-dark
					color: #fff
					font:
						size: 0.9em
						weight: bold
					text-decoration: none

					&:hover
						background: $color-custom-1

.list-rating
	@extend .clearfix

	display: inline

	li
		display: inline

		a
			+transition(all 0.1s)

			display: block
			float: left
			padding: 3px
			text-decoration: none
			color: #bbb

			&:before
				@extend .icon

				content: '\f24e'
				font-size: 25px

			&:hover
				color: $color-warning

		&.on,
		&.on-hover
			a
				color: $color-warning

		&.off-hover
			a
				color: #bbb

