// Selection
@mixin basis-selection($background, $color)
	$prefixes: ('-moz-', '')

	@each $prefix in $prefixes
		::#{$prefix}selection
			background: $background
			color: $color

// Property Range
@mixin basis-property-range($property, $prefix, $start, $end, $factor, $unit)
	$i: $start

	@while $i <= $end
		#{$prefix}-#{$i}
			#{$property}: #{$i + $unit} !important
		$i: $i + $factor

// Grid
@mixin basis-grid($prefix: '', $items: 5, $gap: 3%)
	.#{$prefix}grid
		@extend .clearfix

		> .#{$prefix}grid-item
			min-height: 1px
			float: left
			margin-right: $gap

			&:last-child
				margin: 0

		&.grid-rows
			> .#{$prefix}grid-item
				margin-bottom: $gap

	@for $i from 1 through $items
		.#{$prefix}grid-items-#{$i}
			$width: (100% - ($gap * ($i - 1))) / $i

			> .#{$prefix}grid-item
				width: $width

				&:nth-child(#{$i}n + #{$i})
					margin-right: 0

				&:nth-child(#{$i}n + #{$i + 1})
					clear: left

			@for $j from 2 through ($i - 1)
				> .#{$prefix}grid-item-span-#{$j}
					width: ($width * $j) + ($gap * ($j - 1))

	.#{$prefix}grid-collapse
		> .#{$prefix}grid-item
			margin: 0 !important

		@for $i from 1 through $items
			$width: 100% / $i

			&.#{$prefix}grid-items-#{$i}
				> .#{$prefix}grid-item
					width: $width

				@for $j from 2 through ($i - 1)
					> .#{$prefix}grid-item-span-#{$j}
						width: $width * $j

// Button
@mixin basis-button($color: $color-custom-1, $height: 35px)
	+border-radius(3px)
	+box-sizing(border-box)
	+transition(all 0.1s)

	display: inline-block
	height: $height
	padding: 0 15px
	border: none
	background-color: $color
	color: #fff !important
	font:
		weight: bold
		size: 1.2em
		family: $font-custom-1
	line-height: $height
	text:
		// transform: uppercase
		decoration: none !important

	&:hover
		background-color: lighten($color, 5%)

	&.button-block
		display: block
		text-align: center

	&.button-large
		height: $height + 10
		padding: 0 20px
		font-size: 1.5em
		line-height: $height + 10

	&.button-small
		height: $height - 10
		padding: 0 10px
		border-width: 1px !important
		font-size: 0.9em
		line-height: $height - 10

	&.button-bordered
		border: 2px solid $color
		background: none !important
		color: $color
		line-height: $height - 4

		&:hover
			border-color: lighten($color, 5%)
			color: lighten($color, 5%)

		&.button-large
			line-height: $height + 10 - 4

		&.button-small
			line-height: $height - 10 - 2

		&.button-white
			$color: #fff

			border-color: $color
			color: $color

	&.button-white
		$color: #fff

		background-color: $color
		color: $color-dark

@mixin basis-button-extend($color)
	background-color: $color

	&:hover
		background-color: lighten($color, 5%)

	&.button-bordered
		border-color: $color !important
		color: $color !important

		&:hover
			border-color: lighten($color, 5%) !important
			color: lighten($color, 5%) !important

// Background Color
@mixin basis-background-color($color, $suffix)
	.background-color-#{$suffix}
		background-color: $color !important

	@if $color != transparent
		.background-color-#{$suffix}-alpha
			background-color: rgba($color, 0.7) !important

// Color
@mixin basis-color($color, $suffix)
	.color-#{$suffix}
		color: $color !important

// Box Color
@mixin basis-box-color($color: #777)
	border-color: lighten($color, 35%)
	background-color: lighten($color, 50%)
	color: $color

	a
		color: $color

