.modal
	z-index: 999
	display: table
	width: 100%
	height: 100%
	position: fixed
	left: 0
	top: 0
	background: rgba(0, 0, 0, 0.85)

	.modal-container
		display: table-cell
		vertical-align: middle
		text-align: center

		.modal-box
			+border-radius(3px)

			display: inline-block
			min-width: 500px
			min-height: 200px
			position: relative
			margin: 0 auto
			background: #fff
			text-align: left

			.modal-header
				+border-top-radius(3px)
				+box-sizing(border-box)

				min-height: 45px
				padding: 15px
				border-bottom: 1px solid #eee
				color: $color-dark
				font:
					weight: bold
					size: 1.2em

			.modal-footer
				+border-bottom-radius(3px)

				padding: 15px
				border-top: 1px solid #eee
				text-align: right

			.modal-body
				padding: 15px

			.modal-close
				+transition(all 0.1s)

				position: absolute
				right: 15px
				top: 15px
				padding: 0
				border: none
				background: none
				text-decoration: none

				&:before
					@extend .icon

					content: '\f12a'
					color: #ccc
					font-size: 15px

				&:hover
					&:before
						color: #999

		.modal-loading
			text-align: center

			&:before
				@extend .icon-loading-c

				color: #ccc
				font-size: 50px
				line-height: 200px

