.pagination
	margin-top: 30px
	text-align: center

	ul
		display: inline-block

		li
			display: inline
			color: #777

			span
				padding: 10px

			a
				$size: 30px
				+border-radius($size)
				+transition(all 0.1s)

				display: inline-block
				width: $size
				height: $size
				margin: 0 3px
				background: $color-light
				color: $color-dark
				line-height: $size
				text:
					decoration: none
					align: center

				&:hover
					background: #ccc

			&.current
				a
					background: $color-custom-1
					color: #fff

