.splitbox
	+border-radius(3px)

	border: 1px solid $color-custom-1

	section
		header
			+transition(all 0.1s)

			padding: 5px
			border-top: 1px dotted $color-custom-1
			cursor: pointer
			color: $color-custom-1
			font:
				size: 1.3em
				family: $font-custom-1

			&:hover
				background: lighten($color-custom-1, 20%)

		.splitbox-content
			display: none
			padding: 5px 10px 10px

		&:first-child
			header
				border-top: none

		// &.active
		// 	.splitbox-content
		// 		display: block


